* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Corporate-Normal, sans-serif; 
  font-weight: bold;
}

body {
  background-image: linear-gradient(to bottom right, rgba(128, 0, 128, 0.714), rgb(38, 0, 128));
  background-size: cover;
  height: 100vh;
}

#header {
  padding: 30px;
  padding-bottom: 20px;
  text-align: center;
}

h1 {
  font-size: 2.7rem;
  letter-spacing: .4rem;
  padding-bottom: 15px;
  color: #0077ff;
}

p {
  color: rgb(227, 221, 221);
  font-size: 1.3rem;
}

#main {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  
}

.imgBorder {
  border: 5px solid #F516BA;
}

#machine {
  /* border: 1px solid green; */
}

.display {
  width: 140px;
  height: 110px;
  margin-bottom: 10px;
}

#lastDisplay {
  margin-bottom: 0;
}

#buttons {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#play, #stop {
  font-family: Corporate-Normal, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: .3rem;
  border-radius: 8px;
  border-style: none;
  background-color: #54A4FF;
  color: white;
}

.disabled {
  opacity: 0.4;
}

#result {
  text-align: center;
  padding: 20px;
  padding-top: 60px;
}

#outResult {
  letter-spacing: .1rem;
  font-size: 1.6rem;
  color: rgb(227, 221, 221);
}

@media (min-width: 720px){

  body {
    width: 80%;
    margin: 40px auto;
  }

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
  }

  #main {
    flex-direction: column;
    padding: 60px;
  }

  .display {
    display: inline-block;
    width: 200px;
    height: 150px;
  }

  #machine {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0px;
  }

  #buttons {
    align-items: center;
  }

  #play, #stop {
    width: 400px;
    cursor: pointer;
    font-size: 2.3rem;
  }

  #play {
    margin-bottom: 30px;
  }

  #outResult {
    font-size: 2.1rem;
  }

} 

/* @media (max-width: 1090px){
  .display {
    width: 210px;
    height: 180px;
  }
}

@media (max-width: 970px){

  body {
    width: 90%;
  }
} */ 

